*{
    color: white;
}

body{
    background-color: rgb(55, 55, 55);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: 50vw;
}

h2{
    font-size: 2em;
    margin: 50px 0;
}